@model LoggedOutViewModel

@{ 
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<div class="page-header logged-out">
    <h1>
        Logout
        <small>Ha cerrado sesión con éxito.</small>
    </h1>

    @if (Model.PostLogoutRedirectUri != null)
    {
        <div>
            Presione <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">aquí</a> para volver a la
            <span>@Model.ClientName</span> aplicación.
        </div>
    }

    @if (Model.SignOutIframeUrl != null)
    {
        <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>

@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
