@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @userName
        <NavLink class="nav-link" href="/Logout">Logout</NavLink>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code
{
    string userName;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        userName = user.Identity.Name;
    }
}