@model RedirectViewModel

<h1>Esta volviendo a la aplicación.</h1>
<p>Una vez completado, puede cerrar esta pestaña</p>

<meta http-equiv="refresh" content="0;url=@Model.RedirectUrl" data-url="@Model.RedirectUrl">
<script src="~/js/signin-redirect.js"></script>
